* {   /* gets rid of default margin and padding from browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 18px;
}

h1 {
  font-size: 2em;
  padding: 50px;
  border: 1px solid #5D6063;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                              /* Add this */
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

ol {
  list-style-type: lower-roman;
  list-style-position: inside;
}

a {  /* no underline on link */
  text-decoration: none;
}

p {
  text-align: left;
  /*padding: 20px 0 20px 10px;
  margin-bottom: 50px; */
}

a:link { /* changes how a link looks when you interact with it*/
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}

.hnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.hnavbar li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

.hnavbar li:last-child {
  border-right: none;
}

.hnavbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hnavbar a:hover {
  background-color: #111;
}

.active {
  background-color: #5995DA;
}

.page {
  padding: 10px;
}

.responsivepage {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-1 {
  background-color: #F5CF8E;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-2 {
  background-color: #F09A9D;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-3 {
  background-color: #C8C6FA;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-4 {
  background-color: #D6E9FE;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .feature-1,
  .feature-2,
  .feature-3,
  .feature-4 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .responsivepage {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}
