div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  box-sizing: border-box;  /* Add this */
  margin: 20px auto; /* Vertical  Horizontal */
}

body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 18px;
}

h1 {
  font-size: 2em;
  padding: 50px;
  border: 1px solid #5D6063;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                              /* Add this */
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}

a {  /* no underline on link */
  text-decoration: none;
}

p {
  text-align: left;
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;          /* Add this */
}
