* {   /* gets rid of default margin and padding from browser */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 18px;
  padding: 10px;
}

h1 {
  font-size: 2em;
  padding: 50px;
  border: 1px solid #5D6063;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                              /* Add this */
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

ol {
  list-style-type: lower-roman;
  list-style-position: inside;
}

a {  /* no underline on link */
  text-decoration: none;
}

p {
  text-align: left;
  /*padding: 20px 0 20px 10px;
  margin-bottom: 50px; */
}

a:link { /* changes how a link looks when you interact with it*/
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}
